.projects__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
}
.card2 {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 275px 125px;
    grid-template-areas:
        "card2__image"
        "card2__description";
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.card2__image {
    grid-area: card2__image;
    width: inherit;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    @include df-row;
    img {
        height: 100%;
    }
}
.card2__description {
    grid-area: card2__description;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1.2em;
}
.card2__description p {
    margin: 10px 0;
}
.card2__description--container {
    width: 350px;
    height: 200px;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
    color: #f2f2f2;
}
.card__buttons {
    margin-bottom: 20px;
}
.btn {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    color: #f2f2f2;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #f2f2f2;
}
.btn:hover {
    border: 1px solid #2f2f2f;
    background-color: #f2f2f2;
    color: #2f2f2f;
}
.card {
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
    max-width: 90%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "card__title"
        "card__image"
        "card__description";
}
.card__title {
    grid-area: card__title;
    margin: 20px auto;
}
.card__image {
    grid-area: card__image;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}
.card__description {
    grid-area: card__description;
    @include df-col;
}
.card__description p {
    margin: 10px 0;
}
.card__description--container {
    @include df-col;
    margin-bottom: 20px;
    padding: 15px 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 1.75em;
    border-radius: 20px;
    color: #f2f2f2;
}
.card__buttons {
    display: flex;
    justify-content: space-around;
}
.no-projects {
    @include df-col;
}
nav {
    .pagination {
        font-size: 2em;
        margin-bottom: 20px;
        display: flex;
        list-style: none;
        .page-link {
            text-decoration: none;
        }
        .page-item {
            margin: 0 3px;
        }
        .page-item.active {
            border-radius: 10px;
            padding: 0 10px;
        }
    }
}
