@import "features";
@import "components";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "navbar"
        "content"
        "footer";
}
.navbar {
    grid-area: navbar;
    border: 1px solid black;
}
.content {
    grid-area: content;
    width: 1080px;
    margin: 0 auto;
    min-height: calc(100vh - 80px - 80px);
    @include df-col;
    border: 1px solid black;
}
.footer {
    grid-area: footer;
    height: 80px;
    border: 1px solid black;
}
@import "navbar";
