@mixin df-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin df-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link {
    @include df-row;
    text-decoration: none;
    color: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
.navbar {
    @include df-row;
    height: 80px;
}
.navbar__menu {
    @include df-row;
    height: inherit;
    list-style: none;
}
.navbar__menu--item {
    @include df-row;
    height: 80%;
    min-width: 100px;
    margin: 0 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    :hover {
        transition: 200ms;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}
