* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  color: inherit;
  border-radius: inherit;
  text-decoration: none;
}

.active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.button {
  min-width: 100px;
  max-width: 200px;
  max-height: 50px;
  padding: 10px;
  background-color: black;
  color: #f2f2f2;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  transition: 200ms;
}

.button:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #2f2f2f;
  border: 1px solid #2f2f2f;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.input {
  width: 100%;
  background-color: #f2f2f2;
  color: #2f2f2f;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px 0;
}

.textarea {
  width: 100%;
  background-color: #f2f2f2;
  color: #2f2f2f;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px 0;
  min-height: 80px;
  max-height: 120px;
}

.error-msg {
  background-color: red;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.invalid {
  border: 2px solid red;
}

h1 {
  font-size: calc(3em + 1vw);
  margin: 10px;
  max-width: 80%;
  text-align: center;
}

#file {
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

#file__button {
  height: 100%;
  padding: 10px 15px;
  border-radius: inherit;
  border: none;
}

#file__button:hover {
  cursor: pointer;
}

#file__text {
  height: 100%;
  padding: 10px 15px;
}

body {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "navbar" "content" "footer";
}

.navbar {
  grid-area: navbar;
  border: 1px solid black;
}

.content {
  grid-area: content;
  width: 1080px;
  margin: 0 auto;
  min-height: calc(100vh - 80px - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.footer {
  grid-area: footer;
  height: 80px;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  list-style: none;
}

.navbar__menu--item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 80%;
  margin: 0 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: 200ms;
}

.navbar__menu--item:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.projects__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
}

.card2 {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 275px 125px;
  grid-template-areas: "card2__image" "card2__description";
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.card2__image {
  grid-area: card2__image;
  width: inherit;
  height: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2__image img {
  height: 100%;
}

.card2__description {
  grid-area: card2__description;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 1.2em;
}

.card2__description p {
  margin: 10px 0;
}

.card2__description--container {
  width: 350px;
  height: 200px;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  left: 25px;
  border-radius: 20px;
  color: #f2f2f2;
}

.card__buttons {
  margin-bottom: 20px;
}

.btn {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #f2f2f2;
}

.btn:hover {
  border: 1px solid #2f2f2f;
  background-color: #f2f2f2;
  color: #2f2f2f;
}

.card {
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  max-width: 90%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "card__title" "card__image" "card__description";
}

.card__title {
  grid-area: card__title;
  margin: 20px auto;
}

.card__image {
  grid-area: card__image;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card__description {
  grid-area: card__description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__description p {
  margin: 10px 0;
}

.card__description--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  font-size: 1.75em;
  border-radius: 20px;
  color: #f2f2f2;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
}

.no-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .pagination {
  font-size: 2em;
  margin-bottom: 20px;
  display: flex;
  list-style: none;
}

nav .pagination .page-link {
  text-decoration: none;
}

nav .pagination .page-item {
  margin: 0 3px;
}

nav .pagination .page-item.active {
  border-radius: 10px;
  padding: 0 10px;
}

